.navbar {
  /* Replace with your image file path or URL */
  background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bricks2.png'); 
  
  /* Prevents the image from duplicating if it is small */
  background-repeat: repeat;
  
  /* Centers the image within the element */
  background-position: center; 
}