{% extends 'layout.html' %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="static/css/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body style="background-color: #101023; color: white;">
    


<div class="container-fluid text-center" style ="margin: 5px 5px">
  <div class="row container-fluid text-center pt-3 border-top border-danger">
    <div class="col">
      <h1><br>Welcome </h1>
      <h4 style="text-align: left;">About Cool English Games</h4>
      <p style="text-align: left;">This is such a cool learning space for kewl gamerz faxxxx haha xD lmao haha rofl</p>
    </div>
  </div>
  <div class="row border-top border-danger" style="margin-top:3%">
    <h1><br>Popular Games!!</h1>
    <div class="col rounded border border-primary" style="margin:2%; background-color: #141418;">

      <button type="button" class="btn" style="margin: 0px; padding:0px;">
        <div class="card text-bg-dark">
          <img src="static/images/FartGameCover.png" alt="Game 1" style="width: 100%;  aspect-ratio: 1 / 1; object-fit: cover;">
          <div class="card-img-overlay" style="text-shadow: #101023 2px 2px 1px;">
            <h5 class="card-title">Fart Game</h5>
            <p class="card-text">The journey all poops must go through, Fart Game follows Poop as he finds his way through the sewer... an epic platformer that requires skill and precision and skill and patience!!</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
          </div>
        </div>
      </button>

    </div>
    <div class="col rounded border border-primary" style="margin:2%; background-color: #141418;">

      <button type="button" class="btn" style="margin: 0px; padding:0px;">
        <div class="card text-bg-dark">
          <img src="static/images/CoolmathGamesLOGO.jpg" alt="Game 2" style="width: 100%;  aspect-ratio: 1 / 1; object-fit: cover;">
          <div class="card-img-overlay" style="text-shadow: #101023 2px 2px 1px;">
            <h5 class="card-title">Game 2</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
          </div>
        </div>
      </button>

    </div>
    <div class="col rounded border border-primary" style="margin:2%; background-color: #141418;">
      
      <button type="button" class="btn" style="margin: 0px; padding:0px;">
        <div class="card text-bg-dark">
          <img src="static/images/CoolmathGamesLOGO.jpg" alt="Game 3" style="width: 100%;  aspect-ratio: 1 / 1; object-fit: cover;">
          <div class="card-img-overlay" style="text-shadow: #101023 2px 2px 1px;">
            <h5 class="card-title">Game 3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
          </div>
        </div>
      </button>

    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
{% endblock %}