{% extends 'layout.html' %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KaneProject</title>
    <link rel="stylesheet" href="static/css/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body style="color: white;">
    <div class="parallax-grid"></div>
    <div class="container d-flex justify-content-center align-items-center vh-50">
        <h1 style="margin:2%" class="neon-text">Oops... your search failed</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center vh-50">
       <img src="static/images/sillyme.gif" alt="Fail.gif" width="50%" height="50%" padding="30px 30px">
    </div>
    <div class="container d-flex justify-content-center align-items-center vh-50" style="margin-top: 60px;">
       <a href="{{ url_for('home')}}" class="neon-button">Back</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
{% endblock %}